@model IEnumerable<ActivityLogViewModel>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div class="row w-100">
					<div class="col-md-12">
						<h4 class="card-title text-title">Activity Logs</h4>
					</div>
					<div class="col-md-12">
						<p style="text-align:center;">     <span style="color:red;"><b>@ViewBag.error</b></span></p>
					</div>
				</div>
			</div>
			<div class="card-content">
				<div class="card-body card-dashboard">
					<div class="table-responsive">
						<table class="table table-striped zero-configuration">

							<thead>
								<tr>
									<th>Action Performed</th>
									<th>Action Performed By</th>
									<th>Description</th>
									<th>Action Performed Date</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.ActionPerfomed)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.ActivityBy)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.ActivityDescription)
										</td>
										<td>
											@item.ActivityDate
										</td>
									</tr>
								}
							</tbody>
							<tfoot>
								<tr>
									<th>Action Performed</th>
									<th>Action Performed By</th>
									<th>Description</th>
									<th>Action Performed Date</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
