@model PrimeHeroViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="users-edit">
	<div class="card">
		<div class="card-content">
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="displayAccount" aria-labelledby="account-tab" role="tabpanel">
						<div class="media mb-2">
							<a class="mr-2 my-25" href="#">
								<div style="width:200px;height:200px;overflow:hidden;">
									<img id="primeHero_img" src="@Model.PrimeHeroBg" alt="users avatar" class="users-avatar-shadow rounded" style="width:100%;border:solid" />
									<label class="control-label text-primary">Prime Hero Background</label>
								</div>
							</a>
							<a class="mr-2 my-25" href="#">
								<div style="width:200px;height:200px;overflow:hidden;">
									<img id="primeHero_img" src="@Model.PrimeHeroMobBg" alt="users avatar" class="users-avatar-shadow rounded" style="width:100%;border:solid" />
									<label class="control-label text-primary">Prime Hero Mobile Background</label>
								</div>
							</a>
							<div class="media-body mt-50">
								<h4 class="media-heading text-primary">@Model.PrimeHeroTitle</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Heading : </b><span style="color:@Model.HeadingColor;">@Model.Heading</span></label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Heading Color: </b>@Model.HeadingColor &nbsp; &nbsp; <span style="background:@Model.HeadingColor;width:20px;height:20px;border:1px solid black;">&nbsp; &nbsp; &nbsp;</span></label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Sub-Heading : </b><span style="color:@Model.SubHeadingColor;">@Model.SubHeading</span></label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Sub-Heading Color : </b>@Model.SubHeadingColor &nbsp; &nbsp; <span style="background:@Model.SubHeadingColor;width:20px;height:20px;border:1px solid black;">&nbsp; &nbsp; &nbsp;</span></label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Content Position : </b>@Model.ContentPostion</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Button Text : </b>@Model.PrimeHeroBtnTxt</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Button Link :</b> @Model.BtnTxtLink</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">

								<div class="form-group">
									<label><b class="text-primary">Created Date : </b>@Model.CreatedDate</label>
								</div>
								<div class="form-group">
									<label><b class="text-primary">Created By :</b> @Model.CreatedByName</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Updated Date : </b>@Model.UpdatedDate</label>
								</div>
								<div class="form-group">
									<label><b class="text-primary">Updated By :</b> @Model.UpdatedByName</label>
								</div>
							</div>
							<div class="row w-100">
								<div class="col-md-6">

									<div class="form-group">
										<a asp-action="Edit" class="btn btn-primary glow mb-1 ml-1 mb-sm-0 mr-0 mr-sm-1" asp-route-id="@Model.Id">Edit</a>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group pull-right">
										<a asp-action="Index" class="btn btn-secondary glow mb-1  mb-sm-0 mr-0 mr-sm-1">Back to List</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
