@model FaqViewModel

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title text-title">Edit Faq </h4>
			</div>
			<div class="card-content">
				<div class="card-body card-dashboard">
					<div class="col-md-12">
						<form asp-action="Edit" enctype="multipart/form-data" novalidate>
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<p style="text-align:center;"><span style="color:red;"><b>@ViewBag.error</b></span></p>
							<input type="hidden" asp-for="Id" />
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Faq Category</label>
											<select asp-for="CategoryId" class="form-control select2" required data-validation-required-message="Faq Category Is required">
												@foreach (var faqCategory in ViewBag.FaqCategories)
												{
													if (faqCategory.Id == Model.CategoryId)
													{
														<option selected="selected" value="@faqCategory.Id">@faqCategory.Name</option>
													}
													else
													{
														<option value="@faqCategory.Id">@faqCategory.Name</option>
													}

												}
											</select>
											<span asp-validation-for="Question" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Faq Question</label>
											<input asp-for="Question" class="form-control" placeholder="Enter Faq Question" required data-validation-required-message="Faq Question is required" />
											<span asp-validation-for="Question" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Faq Answer</label>
											<textarea name="Answer" id="summernote" required data-validation-required-message="Faq Answer is required">@Html.Raw(Model.Answer)</textarea>
											<span asp-validation-for="Answer" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Sort Number</label>
											<input asp-for="SortNum" class="form-control" placeholder="Enter Sort Number" required data-validation-required-message="Sort Number is required" />
											<span asp-validation-for="SortNum" class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row w-100">
								<div class="col-md-6">
									<div class="form-group">
										<input type="submit" value="Update" class="btn btn-primary" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group pull-right">
										<a asp-action="Index" class="btn btn-secondary">Back to List</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#summernote').summernote();
	});
</script>
