@model FooterLinkViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="users-edit">
	<div class="card">
		<div class="card-content">
			<div class="card-header">
				<div class="row w-100">
					<div class="col-md-6">
						<h4 class="card-title text-title">Footer Link Detail</h4>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="displayAccount" aria-labelledby="account-tab" role="tabpanel">
						<div class="row">


							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link Text 1  : </b>@Model.MainSiteTxt</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link 1 : </b>@Model.MainSiteUrl</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link Text 2 : </b>@Model.InsCommissionTxt</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link 2 : </b>@Model.InsCommissionUrl</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link Text 3 : </b>@Model.CusCharterTxt</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link 3 : </b>@Model.CusCharterUrl</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link Text 4  : </b>@Model.TermsConditionTxt</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link 4  : </b>@Model.TermsConditionUrl</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link Text 5 : </b>@Model.PrivacyPolicyTxt</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link 5 : </b>@Model.PrivacyPolicyUrl</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link Text 6 : </b>@Model.ContactUsTxt</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Footer Link 6 : </b>@Model.ContactUsUrl</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">InLife Logo : </b>@Model.LogoUrl</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Facebook : </b>@Model.FbUrl</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Twitter : </b>@Model.TweeterUrl</label>
								</div>
							</div>

							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">Instagram : </b>@Model.InstaUrl</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label><b class="text-primary">YouTube : </b>@Model.YouTubeUrl</label>
								</div>
							</div>
							@*<div class="col-12 col-sm-6">
									<div class="form-group">
										<label><b class="text-primary">Created Date : </b>@Model.CreatedDate?.ToShortDateString()</label>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label><b class="text-primary">Created By :</b> @Model.CreatedByName</label>
									</div>
								</div>
								@{
									if (Model.UpdatedDate != null)
									{
										<div class="col-12 col-sm-6">
											<div class="form-group">
												<label><b class="text-primary">Updated Date : </b>@Model.UpdatedDate</label>
											</div>
										</div>
									}
								}
								@{
									if (Model.UpdatedByName != null && Model.UpdatedByName != "")
									{
										<div class="col-12 col-sm-6">

											<div class="form-group">
												<label><b class="text-primary">Updated By :</b> @Model.UpdatedByName</label>
											</div>
										</div>
									} }*@
							<div class="row w-100">
								<div class="col-md-6">

									<div class="form-group">
										<a asp-action="Edit" class="btn btn-primary glow mb-1 ml-1 mb-sm-0 mr-0 mr-sm-1" asp-route-id="@Model.Id">Edit</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

