@model FooterLinkViewModel

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title text-title">Update Footer Links</h4>
			</div>
			<div class="card-content">
				<div class="card-body card-dashboard">
					<div class="col-md-12">
						<form asp-action="Edit" enctype="multipart/form-data" novalidate>
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<p style="text-align:center;"><span style="color:red;"><b>@ViewBag.error</b></span></p>
							<input type="hidden" asp-for="Id" />
							<div class="row">


								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link Text 1</label>
											<input asp-for="MainSiteTxt" value="@Model.MainSiteTxt" class="form-control" placeholder="Enter Footer Link Text 1" required data-validation-required-message="Footer Link Text 1 is required" />
											<span asp-validation-for="MainSiteTxt" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link 1</label>
											<input asp-for="MainSiteUrl" value="@Model.MainSiteUrl" class="form-control" placeholder="Enter Footer Link 1" required data-validation-required-message="Footer Link 1 is required" />
											<span asp-validation-for="MainSiteUrl" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link Text 2</label>
											<input asp-for="InsCommissionTxt" value="@Model.InsCommissionTxt" class="form-control" placeholder="Enter Footer Link Text 2" required data-validation-required-message="Footer Link Text 2 is required" />
											<span asp-validation-for="InsCommissionTxt" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link 2</label>
											<input asp-for="InsCommissionUrl" value="@Model.InsCommissionUrl" class="form-control" placeholder="Enter Footer Link 2" required data-validation-required-message="Footer Link 2 is required" />
											<span asp-validation-for="InsCommissionUrl" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link Text 3</label>
											<input asp-for="CusCharterTxt" value="@Model.CusCharterTxt" class="form-control" placeholder="Enter Footer Link Text 3" required data-validation-required-message="Footer Link Text 3 is required" />
											<span asp-validation-for="CusCharterTxt" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link 3</label>
											<input asp-for="CusCharterUrl" value="@Model.CusCharterUrl" class="form-control" placeholder="Enter Footer Link 3" required data-validation-required-message="Footer Link 3 is required" />
											<span asp-validation-for="CusCharterUrl" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link Text 4</label>
											<input asp-for="TermsConditionTxt" value="@Model.TermsConditionTxt" class="form-control" placeholder="Enter Footer Link Text 4" required data-validation-required-message="Footer Link Text 4 is required" />
											<span asp-validation-for="TermsConditionTxt" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link 4</label>
											<input asp-for="TermsConditionUrl" value="@Model.TermsConditionUrl" class="form-control" placeholder="Enter Footer Link 4" required data-validation-required-message="Footer Link 4 is required" />
											<span asp-validation-for="TermsConditionUrl" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link Text 5</label>
											<input asp-for="PrivacyPolicyTxt" value="@Model.PrivacyPolicyTxt" class="form-control" placeholder="Enter Footer Link Text 5" required data-validation-required-message="Footer Link Text 5 is required" />
											<span asp-validation-for="PrivacyPolicyTxt" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link 5</label>
											<input asp-for="PrivacyPolicyUrl" value="@Model.PrivacyPolicyUrl" class="form-control" placeholder="Enter Footer Link 5" required data-validation-required-message="Footer Link 5 is required" />
											<span asp-validation-for="PrivacyPolicyUrl" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link Text 6</label>
											<input asp-for="ContactUsTxt" value="@Model.ContactUsTxt" class="form-control" placeholder="Enter Footer Link Text 6" required data-validation-required-message="Footer Link Text 6 is required" />
											<span asp-validation-for="ContactUsTxt" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Footer Link 6</label>
											<input asp-for="ContactUsUrl" value="@Model.ContactUsUrl" class="form-control" placeholder="Enter Footer Link 6" required data-validation-required-message="Footer Link 6 is required" />
											<span asp-validation-for="ContactUsUrl" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">InLife Logo Url</label>
											<input asp-for="LogoUrl" value="@Model.LogoUrl" class="form-control" placeholder="Enter InLife Logo Url" required data-validation-required-message="InLife Logo Url is required" />
											<span asp-validation-for="LogoUrl" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Facebook Url</label>
											<input asp-for="FbUrl" value="@Model.FbUrl" class="form-control" placeholder="Enter Facebook Url" required data-validation-required-message="Facebook Url is required" />
											<span asp-validation-for="FbUrl" class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Twitter Url</label>
											<input asp-for="TweeterUrl" value="@Model.TweeterUrl" class="form-control" placeholder="Enter Twitter Url" required data-validation-required-message="Twitter Url is required" />
											<span asp-validation-for="TweeterUrl" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">Instagram Url</label>
											<input asp-for="InstaUrl" value="@Model.InstaUrl" class="form-control" placeholder="Enter Instagram Url" required data-validation-required-message="Instagram Url is required" />
											<span asp-validation-for="InstaUrl" class="text-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<label class="control-label text-secondary">YouTube Url</label>
											<input asp-for="YouTubeUrl" value="@Model.YouTubeUrl" class="form-control" placeholder="Enter YouTube Url" required data-validation-required-message="YouTube Url is required" />
											<span asp-validation-for="YouTubeUrl" class="text-danger"></span>
										</div>
									</div>
								</div>

							</div>
							<div class="row w-100">
								<div class="col-md-6">
									<div class="form-group">
										<input type="submit" value="Update" class="btn btn-primary" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group pull-right">
										<a asp-action="Details" class="btn btn-secondary">Back to Detail Page</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
