@model InLifeCMS.ViewModel.UsersViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="users-edit">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="displayAccount" aria-labelledby="account-tab" role="tabpanel">
                        <div class="media mb-2">
                            <a class="mr-2 my-25" href="#">
                                <div style="width:120px;height:120px;">
                                    <img src="@Url.Content("/" + Model.strUserImg)" id="user_img" alt="users avatar" class="users-avatar-shadow rounded" style="width:100%">
                                </div>
                            </a>
                            <div class="media-body mt-50">
                                <h4 class="media-heading text-primary">@Model.strFirstName   @Model.strLastName</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b class="text-primary">Gender : </b>@Model.strGender</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b class="text-primary">E-mail : </b>@Model.strEmail</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b class="text-primary">Password : </b>@Model.strPassword</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b class="text-primary">Phone : </b>@Model.strPhone</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b class="text-primary">Role : </b>@Model.strUserRole</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b class="text-primary">Created Date : </b>@Model.dteCreatedDate.ToShortDateString()</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b class="text-primary">Created By :</b> @Model.strCreatedByUser</label>
                                </div>
                            </div>
                            @{
                                if (Model.dteUpdatedDate != null)
                                {
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label><b class="text-primary">Updated Date : </b>@Model.dteUpdatedDate?.ToShortDateString()</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label><b class="text-primary">Updated By :</b> @Model.strUpdatedByUser</label>
                                        </div>
                                    </div>
                                }
                            }

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label><b class="text-primary">Activation Date :</b> @Model.dteActivationDate.ToShortDateString()</label>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <a asp-action="Edit" class="btn btn-primary glow mb-1 ml-1 mb-sm-0 mr-0 mr-sm-1" asp-route-id="@Model.intUserId">Edit</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pull-right">
                                        <a asp-action="Index" class="btn btn-secondary glow mb-1  mb-sm-0 mr-0 mr-sm-1">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>